* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 98vh;
  justify-content: center;
  align-items: top;
  background-color: #10546d;
  /* background: linear-gradient(to bottom, #104743, #10546d); */
}

img {
  width: 20%;
  height: 20%;
  /* opacity: 0.7; */
}

.header {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: 0.5rem;
}

.container {
  text-align: center;
  margin-top: 13%;
  width: 40%;
  max-width: 60%;
  background-color: #ffffff;
  border-radius: 5px;
  padding-top: 0.8rem;
  box-shadow: 0 0 30px 1px #4a7e91;
}

.bulb {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2.5rem;
  margin-bottom: 2rem;
  width: 3%;
  height: 8%;
  outline: none;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.tips {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  /* margin-top: -2%; */
  /* margin-right: -700px; */
}

.container__question {
  text-align: left;
  width: 70%;
  height: 3rem;
  margin-top: 4%;
  margin-left: 16%;
  margin-bottom: 4%;
  line-height: 130%;
  /* font-size: 0.8rem; */
}

.btn-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.container__btn__generate {
  font-size: 1rem;
  border-radius: 2px;
  padding: 9px 11px;
  color: #000000;
  width: 10rem;
  border: solid 1.3px #4a8bc0;
  outline: none;
  cursor: pointer;
}

.btn {
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  color: #000000;
  outline: none;
  width: 10rem;
}

.btn:hover {
  border: solid 1px #4a8bc0;
  /* background-color: #4a8bc0; */
  /* background-color: rgba(74,139,192,0.2); */
}

.selectedRight {
  background-color: #3c8b47;
}

.selectedWrong {
  background-color: #c94444;
}

.hide {
  display: none;
}

.counter {
  margin-top: 2%;
}

/* @media all and (max-width: 1024px) {
    .conatiner {
        text-align: center;
        width: 600px;
        max-width: 80%;
    }
    
    .btn {
        border-radius: 5px;
        padding: 5px 10px;
        color: #000000;
        outline: none;
        width: 10rem;
    }
} */
